@import './config';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   font-size: 16px;
}

body {
   width: 100%;
   height: 100vh;
   background: url('../images/background.png');
   background-size: cover;
   @include Flex-sa-c;
   flex-direction: column;
   overflow: hidden;
}

h1.title {
   text-align: center;
   color: $clr-white;
   font-weight: 600;
   font-size: 1.75rem;
   z-index: -2;
}

main {
   width: 95%;
   height: 85vh;
   margin: 0 auto;
   @include Flex-sa-c;
   flex-direction: column;
   background: rgba(0, 128, 0, .9);
   border-radius: 5em;
   border: 3px solid saddlebrown;
   padding: 1em;
   position: relative;

   h4.result {
      @include Abs(50%, 0, left, top);
      @include Translate(-50%, 5%);
      font-weight: 600;
      font-family: 'Raleway', sans-serif;
      @include Clamp(1, 3, 1.5);
      color: $clr-white;
      letter-spacing: 1px;
      padding: 1em 0;
      width: 50%;
      text-align: center;
      z-index: -1;
      opacity: 0;
      animation: anim 1s;
      animation-fill-mode: forwards;

      &.win {
         background: royalblue;
      }
      &.lose {
         background: rgb(230, 69, 10);
      }
      &.draw {
         background: goldenrod;
      }

      @keyframes anim {
         0% { opacity: 0; transform: translate(-50%, 5%); }
         100% { opacity: 1; transform: translate(-50%, -100%); }
      }

      @media (max-width: 500px) {
         position: fixed;
         bottom: 0;
         left: 0;
         top: auto;
         width: 100%;
         z-index: 1;
         transform: translate(0, 0);
         animation: anim2 1s;
         animation-fill-mode: forwards;
         padding: .48em 0;

         @keyframes anim2 {
            0% { opacity: 0; }
            100% { opacity: 1; }
         }
      }
   }

   section {
      width: 100%;
      position: relative;
      @include Flex-c-c;

      div.info {
         @include Abs(1em, 0, left, top);
            
         h3 {
            font-family: 'Raleway', sans-serif;
            color: $clr-white;
            font-weight: 500;
            
            &,span {
               @include Clamp(.8, 2, 1.2);
            }

            span {
               font-weight: 700;
            }
         }

         h2 {
            text-transform: uppercase;
            font-weight: 700;
            color: $clr-white;
            margin-top: 1em;
            @include Clamp(1, 2, 1.3);

            span {
               margin-left: .2em;
               font-size: inherit;
               font-weight: 700;
            }
         }

         &.enemy-info {      
            h3 { span { color: rgb(255, 77, 77); } }
         }

         &.player-info {      
            h3 { span { color: rgb(63, 170, 251); } }

            top: auto;
            bottom: 0;
         } 
      }

      @media (max-width: 500px) {
         &.enemy-table,
         &.player-table {
            flex-direction: column;
            text-align: center;

            div.info {
               position: static;
            }
         }

         &.player-table {
            flex-direction: column-reverse;
         }
      } 
   }

   section.menu {
      height: 12%;

      button.action,
      div.bet { 
         width: clamp(80px, 30vw, 140px); 
         margin: 0 .25em;
      }

      button.action {
         padding: .75em 0;
         font-weight: 700;
         text-transform: uppercase;
         color: $clr-white;
         @include Clamp(.8, 2.5, 1);
         border-radius: .15em;
         outline: 0;
         border: 0;
         letter-spacing: -1px;
         cursor: pointer;
         transition: .3s;

         &.start {
            background: royalblue;
         }
         &.check {
            background: orangered;
            display: none;
         }
         &.surrender {
            background: crimson;
            display: none;
         }
         &.restart {
            background: rgb(169, 169, 0);
            display: none;
         }

         &:hover {
            filter: brightness(85%);
         }
      }

      div.bet {
         position: relative;
         display: none;

         button { 
            margin: 0;
            background: rgb(0, 180, 72);
         }

         section {
            width: 100%;
            height: min-content;
            @include Abs(0, 100%, left, bottom);
            display: flex;

            span {
               width: 20%;
               @include Flex-c-c;
               color: $clr-white;
               font-weight: 700;
               cursor: pointer;

               i { @include Clamp(.8, 2, 1); }
            }

            input {
               width: 60%;
               height: 100%;
               outline: 0;
               border: 0;
               text-align: center;
               font-weight: 600;
               @include Clamp(.75, 2, .9);
               letter-spacing: 1px;
               background: $clr-white;

               &::-webkit-outer-spin-button,
               &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
               }
            }
         }
      }
   }

   section:not(.menu) {
      height: 25%;
      position: relative;

      div.enemy-info {
         h3.combos { display: none; }
      }

      span.enemy-anim {
         @include Abs(50%, 100%, left, bottom);
         @include Translate(-50%, 0);
         color: $clr-white;
         text-transform: uppercase;
         font-weight: 700;
         font-family: 'Raleway', sans-serif;
         @include Clamp(.8, 3, 1);
         white-space: nowrap;

         @media (max-width: 500px) {
            top: 100%;
            bottom: auto;
         }
      }

      h4 {
         color: yellow;
         font-weight: 700;
         text-transform: uppercase;
         margin-top: .5em;
         @include Clamp(.85, 3, 1);

         &.check-h4 {
            @media (max-width: 500px) {
               position: absolute;
               top: 100%;
               left: 0;
               width: 100%;
               text-align: center;
            }
         }
      }

      img {
         height: clamp(80px, 15vw, 135px);
      }

      &.middle-table {
         @include Flex-c-c;

         h4.total-pool {
            @include Abs(0, 50%, left, top);
            @include Translate(0, -50%);
            background: saddlebrown;
            padding: .5em 1em;
            border-radius: .2em;
            color: $clr-white;
            font-weight: 500;
            
            &, span {
               @include Clamp(.7, 1.5, 1);
            }

            span {
               font-weight: 700;
               letter-spacing: 1.5px;
               margin-left: .5em;
            }
         }

         img {
            transition: .3s;
            height: clamp(60px, 10vw, 90px);

            &.stack {
               @include Abs(0, 50%, right, top);
               @include Translate(0, -50%);
            }
         }

         @media (max-width: 600px) {
            div.wrap {
               position: absolute;
               width: 100%;
               bottom: 0;
               height: 50px;
               display: flex;
               align-items: center;
               justify-content: space-between;
               flex-direction: row-reverse;
               left: 0;
            }

            h4.total-pool {
               transform: translate(0, 0);
               position: static;
            }

            img {
               &.stack {
                  transform: translate(0, 0);
                  position: static;
                  height: 100%;
               }
            }
         }
      }
   }
}

@media (max-width: 768px) {
   h1.title { display: none; }

   main {
      width: 100%;
      height: 100vh;
      border-radius: .1em;
      border: 0;
   }
}

@media (max-width: 600px) {
   main {
      padding: .25em;
   }
}